<?php 
/**
 * Juan M. Escobar T. (http://www.juanescobar.org/)
 *
 * @link      http://rendimientos.sprbun.com/
 * @copyright Copyright (c) 2012 Juan M. Escobar T. (http://www.juanescobar.org)
 * @license   http://creativecommons.org/licenses/by-nc-nd/2.5/co/deed.es_ES New Creative Commons License
 */

$title = 'Agregar un nuevo documento';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php $form = $this->form; ?>
<?php $form->setAttribute('action', $this->url('archivos', array('action' => 'add'))); ?>
<?php $form->prepare(); ?>

<?php echo $this->form()->openTag($form); ?>
<?php echo $this->formHidden($form->get('id')); ?>
<div class="control-group">
	<?php echo $this->formLabel($form->get('nombre')); ?>
	<div class="controls">
		<?php echo $this->formElement($form->get('nombre')); ?>
	</div>
</div>
<div class="control-group">
	<?php echo $this->formLabel($form->get('contenido')); ?>
	<div class="controls">
		<?php echo $this->formElement($form->get('contenido')); ?>
	</div>
</div>
<?php echo $this->formHidden($form->get('fecha')); ?>
<?php echo $this->formHidden($form->get('hora')); ?>
<?php echo $this->formHidden($form->get('usuarios_id')); ?>
 <div class="control-group">
    <div class="controls">
		<?php echo $this->formSubmit($form->get('submit')); ?>
	</div>
</div>
<?php echo $this->form()->closeTag(); ?>