body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

[class^="my-icon-"],
[class*=" my-icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: text-center;
  background-repeat: no-repeat;
}

i.my-icon-pdf-24 {
	background-image: url('/images/icons/pdf-icon-24.png');
}

i.my-icon-xls-24 {
	background-image: url('/images/icons/xls-icon-24.png');
}

i.my-icon-zip-24 {
	background-image: url('/images/icons/zip-icon-24.png');
}

i.my-icon-upload-16 {
	background-image: url('/images/icons/upload-icon-16.png');
	width: 16px;
  	height: 16px;
}

i.my-icon-upload-32 {
	background-image: url('/images/icons/upload-icon-32.png');
	width: 32px;
  	height: 32px;
	margin-bottom:-7px;
}
